.bgd_black { background-color: #000000}
.bgd_dkgrey { background-color: #666666}
.bgd_grey { background-color: CCCCCC}.fontred {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: CC3333;
}
.fontwhite {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}
.bgdred {
background-color: #CC3333
}
.fontblack {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
}
.fontblackbld {



	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
}
