test

        em_binding_test

default

        class ("TEST_[A-Z0-9_]*")
        feature ("test_[a-z0-9_]*")
        prefix ("X")
        testgen ("TESTGEN")
        compile ("ec -ace test.ace")
        execute ("em_binding_test")

cluster

        test_dir:     "."
        --other_tests:  "$GOBO/test/my_test/other"

end